{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<!--- navbar section --->
<nav id ="navbar" class="flex s-around bg-color">
    <div class="left-nav">
    <h2 class="t-white">Portfolio</h2>
    </div>
    <div class="right-nav">
        <li><a href="#home" class="t-white-roboto">Home<i class="fa-solid fa-house"></i></a></li>
         <li><a href="#about" class="t-white-roboto">About me<i class="fa-solid fa-user"></i></a></li>
         <li><a href="#skills" class="t-white-roboto">Skills<i class="fa-solid fa-code"></i></a></li>
         <li><a href="#projects" class="t-white-roboto">Projects<i class="fa-solid fa-project-diagram"></i></a></li>
         <li><a href="#contact" class="t-white-roboto">Contact<i class="fa-solid fa-rocket"></i></a></li>
    </div>
</nav>
<!--- home section --->
<section id="home" class="flex s-around sw-80 m-auto">
    <div class="home-left flex items-center">
        <div class="home-content">
            <h6 class="poppinss">Hi, I'm</h6>
            <h1 class="t-white">Ruchit Soni</h1>
            <h4 class="poppinss">Software Engineer</h4>
            <a href="{%static 'pdf/RuchitSoniNewCV.pdf'%}" target="_blank">
            <button class="btn popinns">Resume</button>
            </a>
            <a class="btn live popinns" id="hireme" href="https://www.linkedin.com/in/ruchitsoni/"> Let's Talk</a>
        </div>
    </div>
    <div class="home-right flex s center items-center">
        <div class="circle flex s-center items-center" id="mainImage">
            <img src="{% static 'images/mypic.png' %}" alt="picture">
        </div>
    </div>
</section>
<!--- about section---->
<section id="about">
<h1 class="t center my-2 t-white f-2">About<Menu></Menu></h1>
    <div class="about-container flex s-around">
        <div class="about-left flex s-center items-center">
        <img src="{% static 'images/coder.png' %}" alt="coder's profile pic">
        </div>
    </div>
    <div class="about-right flex">
        <div class="about-content">
            <h1 class="t-white m-b-1 poppinss"> Ruchit Soni</h1>
            <p class="t-white poppins">Software Engineer with 2+ years of experience in backend development and QA automation, currently pursuing a Global MBA in Berlin.
Passionate about building scalable web apps and bridging tech with business strategy.</p>
            <a href="btn" id="hireme "href="https://github.com/ruchitsoni3235">Hire Me</a>
        </div>
    </div>
</section>
<section id="skills">
    <h1 class="t-center my-2 t-white f-2">Skills</h1>
    <div class="services-container flex s-around h-50">
    <div class="skills-left flex s-center items-center">
      <img src="{% static 'images/pro.png' %}" alt="pro image">
    </div>
    </div>
    <div class="skills-right flex items-center">
        <div class="skills-container">
            <div class="python bar p-relative"><span class="bar-content left t-white">Python</span>
                <span  class="bar content right-skills t-white">90%</span>
            </div>
             <div class="django bar p-relative"><span class="bar-content left t-white">Django</span>
                <span  class="bar content right-skills t-white">90%</span>
            </div>
            <div class="html bar p-relative"><span class="bar-content left t-white">HTML</span>
                <span  class="bar content right-skills t-white">90%</span>
            </div>
            <div class="css bar p-relative"><span class="bar-content left t-white">CSS</span>
                <span  class="bar content right-skills t-white">80%</span>
            </div>
            <div class="restapi bar p-relative"><span class="bar-content left t-white">REST API</span>
                <span  class="bar content right-skills t-white">70%</span>
            </div>
             <div class="javascript bar p-relative"><span class="bar-content left t-white">Javascript</span>
                <span  class="bar content right-skills t-white">70%</span>
            </div>
              <div class="jira bar p-relative"><span class="bar-content left t-white">Jira</span>
                <span  class="bar content right-skills t-white">80%</span>
            </div>
              <div class="mysql bar p-relative"><span class="bar-content left t-white">MYSQL</span>
                <span  class="bar content right-skills t-white">70%</span>
            </div>
                <div class="github bar p-relative"><span class="bar-content left t-white">Github</span>
                <span  class="bar content right-skills t-white">80%</span>
            </div>
                <div class="selenium bar p-relative"><span class="bar-content left t-white">Selenium</span>
                <span  class="bar content right-skills t-white">70%</span>
            </div>
        </div>

    </div>
</section>
</body>
</html>